---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { format } from "date-fns";
const allPosts = await getCollection("posts");

const publicPosts = allPosts.filter((post) => {
  return !(post.data.isDraft && import.meta.env.PROD);
});

const allTags = publicPosts.map((post) => post.data.tags).flat();
const tags = Object.entries(
  allTags.reduce((count: { [key: string]: number }, item: string) => {
    count[item] = (count[item] || 0) + 1;
    return count;
  }, {})
)
  .sort((a, b) => b[1] - a[1])
  .map(([item, _]) => item);

const user = "zcip";
---

<BaseLayout>
  <header
    class="my-8 bg-neutral-100 p-12 rounded-lg border-transparent border shadow-lg"
  >
    <p class="pb-8 text-neutral-950">
      {user} が興味を持ったWeb フロントエンド全般の読んだ記事について個人的にまとめるサイト
    </p>
    <ul class="flex gap-1 flex-wrap">
      {
        tags.map((tag) => (
          <li class="block shadow-sm p-2 text-neutral-500 bg-neutral-200 rounded-lg">
            #{tag}
          </li>
        ))
      }
    </ul>
  </header>
  <section class="px-2">
    <ul class="flex flex-col gap-4">
      {
        publicPosts.map((post) => (
          <li class="grid gap-3 py-4 pl-8 pr-4 shadow-lg">
            <a class="inline-flex" href={`/posts/${post.slug}`}>
              <div class="title relative font-extrabold tracking-tighter leading-tight bg-clip-text bg-gradient-to-r from-pink-500 to-blue-500 text-transparent">
                <span class="italic text-2xl block sm:inline">
                  {format(post.data.pubDate, "Y/M/dd")}
                </span>
                <span class="text-2xl">{post.data.title}</span>
              </div>
            </a>
            <div class="text-neutral-900 pb-3">{post.data.description}</div>
            <ul class="flex gap-2">
              {post.data.tags?.map((tag) => (
                <li class="block shadow-sm text-neutral-500 p-2 bg-neutral-200 rounded-lg">
                  #{tag}
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
<style>
  .title:hover {
    background-size: 400% 400%;
    animation: bg-scroll 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .title:before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: block;
    border-top: solid 5px rgba(150, 13, 123, 0.8);
    border-right: solid 5px rgba(252, 0, 202, 0.8);
    transform: rotate(45deg);
    position: absolute;
    top: 25%;
    left: -1.5rem;
    transition: left 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .title:hover::before {
    left: 100%;
  }

  @keyframes bg-scroll {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
