---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import TitleSvg from "../components/TitleIcon.astro";
import DevInfo from "../components/DevInfo.astro";

const pageTitle = "zcip's Reading List";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const description = "zcipが読んだ記事をまとめます";

const ogImageSrcPath = "/images/og.jpg";
const canonicalImageSrc = new URL(ogImageSrcPath, Astro.site);
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="Hatena::Bookmark" content="nocomment" />
    <slot name="og:twitter">
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@zcip" />
    </slot>
    <slot name="seo">
      <meta property="og:title" content={pageTitle} />
      <meta property="og:type" content="article" />
      <meta property="og:url" content={canonicalURL} />
      <meta property="og:image" content={canonicalImageSrc} />
      <meta
        name="description"
        property="og:description"
        content={description}
      />
      <meta property="og:site_name" content={pageTitle} />
    </slot>
  </head>
  <body>
    <header
      class="py-20 bg-gradient-to-r from-pink-300 to-blue-500 bg-clip-padding fill-transparent"
    >
      <div class="pt-4 sm:flex sm:items-center sm:justify-center">
        <a href="/" aria-label={pageTitle}>
          <TitleSvg class="max-w-full h-full" scale={6} />
        </a>
      </div>
    </header>
    <main class="mx-auto max-w-4xl pb-4 px-2">
      <slot />
    </main>
    <Footer />
    <DevInfo />
  </body>
</html>
